span.cm-org-level-one.cm-org-stars {
    color: var(--org-level-one-stars);
}
span.cm-org-level-two.cm-org-stars {
    color: var(--org-level-two-stars);
}
span.cm-org-level-three.cm-org-stars {
    color: var(--org-level-three-stars);
}
span.cm-org-level-four.cm-org-stars {
    color: var(--org-level-four-stars);
}
span.cm-org-level-five.cm-org-stars {
    color: var(--org-level-five-stars);
}
span.cm-org-level-six.cm-org-stars {
    color: var(--org-level-six-stars);
}
span.cm-org-tag {
    color: var(--org-tag);
    font-style: italic;
}
span.cm-org-list {
    color: var(--org-list);
}
span.cm-org-heading {
    font-weight: bold;
}
span.cm-org-level-one {
    font-size: 1em;
}
