span.cm-org-level-one-stars {
    color: var(--org-level-one-stars);
}
span.cm-org-level-two-stars {
    color: var(--org-level-two-stars);
}
span.cm-org-level-three-stars {
    color: var(--org-level-three-stars);
}
span.cm-org-level-four-stars {
    color: var(--org-level-four-stars);
}
span.cm-org-level-five-stars {
    color: var(--org-level-five-stars);
}
span.cm-org-level-six-stars {
    color: var(--org-level-six-stars);
}
span.cm-org-tag {
    color: var(--org-tag);
    font-style: italic;
}
span.cm-org-list {
    color: var(--org-list);
}
