.CodeMirror {
    --brown: #282828;
    --red: #fb4934;
    --blue: #83a598;
    --yellow: #fabd2f;
    --purple: #8f3f71;
    --orange: #fe8019;
    --green: #b8bb26;
    --aqua: #8ec07c;
    --grey: #928374;
    --pink: #d3869b;
    --tan: #ebdbb2;
}
