#App {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 216mm;
}

.pane {
    height: 100%;
}

#edit-pane {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#preview-pane {
    overflow: auto;
}

.react-codemirror2 {
    height: 100%;
    width: 100%;
    overflow: visible;
}

.CodeMirror {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
}

.CodeMirror-scroll {
    overflow: visible !important;
    margin: 0;
    padding: 0;
}

.title-bar {
    height: 10vh;
    max-height: 3.5em;
    background: rgba(255, 116, 116, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 5;
}


.toggle {
    flex: 0;
}

.title {
    text-align: center;
    flex: 1;
}

pre {
    overflow-x: auto;
}

/*
@media print {
    #edit-pane {
	display: none;
    }
    .title-bar {
	display: none;
    }
    #preview-pane {
	width: 100vw;
	overflow: unset;
    }
    #resume {
    }
}
*/
